:root {
  /*colores*/
  --background: #f5f5f5;
  --primary: #aee2ff;
  --secondary: #e2c1f3;
  --third: #e6fffd;

  /*text colors*/
  --text-white: #f3f4f6;
  --text-gray: #adb9c7;
  --text-black: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}

.logo {
  height: 100%;
}

.navbar i {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
  cursor: pointer;
}

.navbar,
.navbarList {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarList {
  /* display: flex; */
  gap: 50px;
}

.navbarList a {
  font-weight: 800;
  color: var(--text-black);
}

nav a:hover {
  color: var(--text-gray);
}

/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*HERO*/

/* .containerImg {
  position: absolute;
} */

/* .imgBg {
  background-image: url(/assets/Background.png);
} */
html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
#hero {
  margin-top: 65px;
  padding: 70px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/background/Background.png);
  background-size: 100%;
}

.infoHero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  /* width: 45%; */
}

.infoHero h1 {
  font-size: 40px;
  min-width: 500px;
  font-weight: 800;
}

.infoHero p {
  font-size: 28px;
}

/*ABOUT*/

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: var(--background);
}

#about p {
  text-align: center;
  font-size: 18px;
}

#about i {
  color: var(--secondary);
}

/*GRID*/

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#grid h3 {
  font-size: 25px;
  padding-top: 30px;
  font-weight: 800;
}
.beneficios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-items: center;
  align-items: center;
  margin: 50px 0 35px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: default;
  background: url(assets/background/backgroundSecundary.png);
}

.beneficiosConteiner {
  /* background: var(--background); */
  box-shadow: 10px 10px 15px rgba(0.5, 0, 0, 0.4);
}
.beneficios div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  padding: 20px 20px;
  border-radius: 20px;
  height: 200px;
}
.beneficios p {
  text-align: center;
  line-height: 20px;
}
.beneficios h2 {
  font-size: 20px;
  align-items: center;
  margin: 5px;
}
.beneficios i {
  margin: 10px;
  font-size: 40px;
  color: var(--primary);
}
.beneficios i:hover {
  scale: 150%;
  color: var(--secondary);
  transition: all 0.2s ease-in;
}

/*TARJETAS*/

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(assets/cards/bgcards.png);
}

#tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 50px;
}

.wrapper {
  width: 400px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 10px 10px 15px rgba(0.5, 0, 0, 0.4);
}
.divheader {
  display: flex;
  position: relative;
  align-items: center;
  height: 55px;
  border: 1px solid var(--text-gray);
  border-radius: 30px;
}

.divheader label {
  height: 100%;
  width: 30%;
  z-index: 2;
  display: flex;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#tab-1:checked ~ .divheader .tab-1,
#tab-2:checked ~ .divheader .tab-2,
#tab-3:checked ~ .divheader .tab-3 {
  color: var(--text-white);
}

.divheader label:nth-child(2) {
  width: 40%;
}

.divheader .slider {
  position: absolute;
  height: 85%;
  background: var(--secondary);
  border-radius: inherit;
  transition: all 0.3s ease;
}

#tab-1:checked ~ .divheader .slider {
  left: 0%;
  width: 100px;
  transform: translateX(5%);
}
#tab-2:checked ~ .divheader .slider {
  left: 50%;
  width: 120px;
  transform: translateX(-50%);
}
#tab-3:checked ~ .divheader .slider {
  left: 100%;
  width: 95px;
  transform: translateX(-105%);
}

.wrapper input[type="radio"] {
  display: none;
}

.row .pricing-details {
  margin: 20px 0;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--background);
}

.pricing-details span {
  font-size: 65px;
  font-weight: 600;
  position: relative;
}

.pricing-details span::before,
.pricing-details span::after {
  position: absolute;
  font-weight: 400;
}

.pricing-details span::before {
  content: "$";
  font-size: 20px;
  left: -13px;
  top: 17px;
}

.pricing-details span::after {
  content: "/noche";
  font-size: 20px;
  right: -60px;
  bottom: 17px;
}

.pricing-details p {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.row .features li {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
  list-style: none;
}

.features li i {
  color: var(--secondary);
}

.features li span {
  margin-left: 10px;
  font-weight: 400;
}

.wrapper button {
  height: 55px;
  width: 50%;
  margin-top: 20px;
  border: none;
  color: var(--text-black);
  font-size: 18px;
  font-weight: 600;
  background: var(--secondary);
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.wrapper button:hover {
  transform: scale(0.98);
}

.cards-area .cards {
  width: 300%;
  display: flex;
}

.cards .row {
  width: 33.4%;
}

.cards .row-1 {
  transition: all 0.3s ease;
}

#tab-1:checked ~ .cards-area .cards .row-1 {
  margin-left: 0%;
}
#tab-2:checked ~ .cards-area .cards .row-1 {
  margin-left: -33.4%;
}
#tab-3:checked ~ .cards-area .cards .row-1 {
  margin-left: -66.8%;
}

.cards-area {
  overflow: hidden;
}

/*CONOCENOS*/
#visitanos {
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  max-width: 1300px;
  width: 80%;
}

.title-text {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.imagenes {
  display: flex;
  width: 90%;
  height: 430px;
  padding-top: 40px;
}

.imagenes .background-img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.imagenes .background-img:hover {
  cursor: pointer;
  width: 50px;
  opacity: 1;
  filter: contrast(120%);
}

.background-img:nth-child(1) {
  background: url(./assets/Conocenos/1.png) no-repeat center/cover;
}

.background-img:nth-child(2) {
  background: url(./assets/Conocenos/2.png) no-repeat center/cover;
}

.background-img:nth-child(3) {
  background: url(./assets/Conocenos/3.png) no-repeat center/cover;
}

.background-img:nth-child(4) {
  background: url(./assets/Conocenos/4.png) no-repeat center/cover;
}

.background-img:nth-child(5) {
  background: url(./assets/Conocenos/5.png) no-repeat center/cover;
}

/*CONTACTO*/

#contacto {
  width: 100%;
  height: 450px;
  background-image: url(assets/background/backgroundSecundary.png);
}
.containerContacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.containerForm {
  width: 40%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  border-radius: 15px;
}

.containerForm p {
  font-size: 18px;
}

.containerForm h3 {
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form input {
  width: 500px;
  border: 1px solid #2b2b2b;
  margin-bottom: 15px;
  padding: 6px 4px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

.form textarea {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.botonEnviar {
  height: 40px;
  background: var(--background);
  color: var(--text-black);
  margin-bottom: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.botonEnviar:hover {
  background: var(--secondary);
}

.containerMaps {
  width: 40%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  border-radius: 15px;
  gap: 30px;
}
.ulContacto h3 {
  font-size: 25px;
}

.ulContacto {
  font-size: 18px;
}

.containerContacto iframe {
  width: 400px;
  height: 200px;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.redes i {
  color: var(--primary);
  font-size: 30px;
}

/*FOOTER*/
#footersection {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2px;
}

#footersection h3 {
  font-weight: 300;
  font-size: 13px;
}

#footersection img {
  width: 45px;
}

/*ANIMACION*/
.imgHero {
  -webkit-animation: bounce-top 0.9s ease-in-out both;
  animation: bounce-top 0.9s ease-in-out both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 992px) {
  .infoHero {
    text-align: center;
    width: 90%;
    align-items: center;
  }
  .infoHero h1 {
    display: block;
    width: 100%;
  }

  .infoHero p {
    max-width: 80%;
    font-size: 20px;
  }

  .imgHero {
    display: none;
  }

  #about {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0 15px;
  }

  .navbarList {
    background-color: white;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
  }

  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .navbarList {
    transform: translateX(0%);
    transition: all 0.4s ease-in;
  }

  .infoHero h1 {
    font-size: 30px;
    min-width: unset;
  }

  .beneficios {
    max-width: 90%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .beneficios div {
    height: auto;
  }

  .beneficios h2 {
    font-size: 18px;
  }

  .wrapper {
    width: 100%;
    padding: 15px;
  }

  .divheader label {
    font-size: 16px;
  }

  .row .pricing-details span {
    font-size: 50px;
  }

  .pricing-details span::before,
  .pricing-details span::after {
    font-size: 16px;
  }

  .features li {
    font-size: 14px;
  }

  .wrapper button {
    font-size: 16px;
  }

  .cards .row {
    width: 100%;
  }

  .containerForm,
  .containerMaps {
    width: 100%;
  }

  .form input,
  .form textarea {
    width: 100%;
  }

  .containerContacto iframe {
    width: 100%;
  }
}
